.update-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100vh;
    margin: auto;
    /* background-color: rgb(224, 255, 255); */
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}